.App {
  text-align: left;
  background-color: rgb(230, 230, 230);
  font-family: "Segoe UI", Roboto, Helvetica, Arial, serifs;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  background-color: white;
  margin: 25px 45px 5px 45px;
  padding: 15px;
  color: black;
  display: flex;
  justify-content: right;
}

.App-header button {
  margin-left: 10px;
  padding: 7px;
  border: none;
  border-radius: 5px;
}

.App-body {
  margin: 0px 45px 5px 45px;
  background-color: white;
  padding: 50px;
}

.App-body .Search-image {
  display: block;
  width: 50%;
  height: 120px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.App-body .Search-bar {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-radius: 35px;
  height: 35px;
  /* https://nikitahl.com/search-icon-inside-input 
    We used the above link to add the search icon to the input box.
  */
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  padding-left: 50px;
}

@media screen and (max-width: 768px) {
  .App-header ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
  }

  .App-header li {
      text-align: center;
  }
}
