.customer-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  
  .customer-table th {
    padding: 5px;
    text-align: left;
    border: 1px solid #ffffff;
  }

  .customer-table td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ffffff;
  }

  .customer-table thead tr {
    background-color: #8f8e8e;
  }
  
  .customer-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .customer-table tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  .customer-table tbody tr:nth-child(even),
  .customer-table tbody tr:nth-child(odd) {
    border-radius: 100px;
  }

  .customer-table tbody tr:nth-child(even):hover,
  .customer-table tbody tr:nth-child(odd):hover {
    background-color: #aedbe0;
  }
