.App-body {
  text-align: center;
  }

.member-grid {
  display: grid;
}


.member-image {
  border-radius: 50%;
  width: 150px; 
  height: 150px; 
  object-fit: cover; 
}

.member-image:hover {
  display:none;
}

.member-details {
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.member-container:hover .member-details {
  display: block;
}
